{% extends 'layout.twig' %}

{% block title %}{{  'Dodaj słowo kluczowe'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Dodaj słowo kluczowe'|trans }}
    </h1>
    <form action="{{ url('keywords_add') }}" method="post">
        {{ form_widget(form, { 'attr': {'class': 'form-horizontal'}}) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'Save'|trans }}" />
    </form>
{% endblock %}