{% extends 'layout.twig' %}

{% block title %}{{  'Keywords list'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Lista słów kluczowych'|trans }}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p>
            <a href="{{ url('keywords_add') }}" class="btn btn-success" title="{{ 'Add keyword'|trans }}">
                {{ 'Dodaj słowo kluczowe'|trans }}
            </a>
        </p>
    {% endif %}

    {%  if keywords|length > 0 %}

        <div>
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('keywords_index', {'page': previous}) }}" title="{{ 'previous page'|trans }}">{{ 'previous page'|trans }}</a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <a href="{{ url('keywords_index', {'page': next}) }}" title="{{ 'next page'|trans }}">{{ 'next page'|trans }}</a>
            {% endif  %}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Tytuł'|trans }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for keyword in keywords %}
                <tr>
                    <td>{{ keyword.keyword_id|e }}</td>
                    <td>{{ keyword.word|e }}</td>
                    <td>
                        <a href="{{ url('keywords_view', {'id': keyword.keyword_id}) }}" class="btn btn-primary btn-sm" title="{{ 'View articles'|trans }}">{{ 'Zobacz artykuły'|trans }}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('keywords_edit', {'id': keyword.keyword_id}) }}" class="btn btn-warning btn-sm" title="{{ 'Edit keyword'|trans }}">{{ 'Edytuj słowo kluczowe'|trans }}</a>
                            <a href="{{ url('keywords_delete', {'id': keyword.keyword_id}) }}" class="btn btn-danger btn-sm" title="{{ 'Delete keyword'|trans }}">{{ 'Usuń słowo kluczowe'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'Keywords not found'|trans }}.
        </div>
    {% endif %}
{% endblock %}