{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="back-button">
            <a href="{{ url('keywords_index') }}" class="btn btn-default">Powrót do listy słów kluczowych</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if keyword %}
                <h2>Posty ze słowem kluczowym {{ keyword.word }}</h2>
            {% else %}
                <p>Słowo kluczowe nie istnieje</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if keyword_articles %}
                <table class="table">
                    <thead>
                    <th>Id</th>
                    <th>Tytuł posta</th>
                    <th>Akcja</th>
                    </thead>
                {% for article in keyword_articles %}
                    <tr>
                        <td>{{ article.article_id }}</td>
                        <td>{{ article.title }}</td>
                        <td><a href="{{ url('articles_view',
                            {'id': article.article_id}) }}"
                               class="btn btn-primary">Pokaż
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>

            {% else %}
                <p>Posty z danym słowem kluczowym nie istnieją</p>
            {% endif %}
        </div>
    </div>

{% endblock %}