{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="back-button">
            <a href="{{ url('keywords_index') }}" class="btn btn-default">{{ 'keywords_index'|trans }}</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if keyword %}
                <h2>{{ 'articles_with_keyword'|trans }} {{ keyword.word }}</h2>
            {% else %}
                <p>{{ 'keyword_not_exist'|trans }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if keyword_articles %}
                <table class="table">
                    <thead>
                    <th>Id</th>
                    <th>{{ 'article_title'|trans }}</th>
                    <th>{{ 'action'|trans }}</th>
                    </thead>
                {% for article in keyword_articles %}
                    <tr>
                        <td>{{ article.article_id }}</td>
                        <td>{{ article.title }}</td>
                        <td><a href="{{ url('articles_view',
                            {'id': article.article_id}) }}"
                               class="btn btn-primary">{{ 'keyword_view'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>

            {% else %}
                <p>{{ 'articles_not_found'|trans }}</p>
            {% endif %}
        </div>
    </div>

{% endblock %}