{% extends 'layout.twig' %}

{% block title %}{{  'Categories list'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Lista kategorii'|trans }}
    </h1>
    <p>
        <a href="{{ url('categories_add') }}" class="btn btn-success" title="{{ 'Add category'|trans }}">
            {{ 'Dodaj kategorię'|trans }}
        </a>
    </p>

    {%  if categories|length > 0 %}

        <div>
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('categories_index', {'page': previous}) }}" title="{{ 'previous page'|trans }}">{{ 'previous page'|trans }}</a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <a href="{{ url('categories_index', {'page': next}) }}" title="{{ 'next page'|trans }}">{{ 'next page'|trans }}</a>
            {% endif  %}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Nazwa kategorii'|trans }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.category_id|e }}</td>
                    <td>{{ category.category_name|e }}</td>
                    <td>
                        <a href="{{ url('categories_view', {'id': category.category_id}) }}"class="btn btn-primary btn-sm" title="{{ 'View category'|trans }}">{{ 'Zobacz artykuły'|trans }}</a>
                        <a href="{{ url('categories_edit', {'id': category.category_id}) }}"class="btn btn-warning btn-sm" title="{{ 'Edit category'|trans }}">{{ 'Edytuj kategorię'|trans }}</a>
                        <a href="{{ url('categories_delete', {'id': category.category_id}) }}" class="btn btn-danger btn-sm" title="{{ 'Delete category'|trans }}">{{ 'Usuń kategorię'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'Categories not found'|trans }}.
        </div>
    {% endif %}
{% endblock %}