{% extends 'layout.twig' %}

{% block title %}{{  'categories_index'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Lista kategorii'|trans }}
    </h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p>
            <a href="{{ url('categories_add') }}" class="btn btn-success" title="{{ 'category_add'|trans }}">
                {{ 'category_add'|trans }}
            </a>
        </p>
    {% endif %}

    {%  if categories|length > 0 %}

        <div>
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('categories_index', {'page': previous}) }}" title="{{ 'previous page'|trans }}">{{ 'previous page'|trans }}</a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <a href="{{ url('categories_index', {'page': next}) }}" title="{{ 'next page'|trans }}">{{ 'next page'|trans }}</a>
            {% endif  %}
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'category_name'|trans }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.category_id|e }}</td>
                    <td>{{ category.category_name|e }}</td>
                        <td>
                            <a href="{{ url('categories_view', {'id': category.category_id}) }}"class="btn btn-primary btn-sm" title="{{ 'category_view'|trans }}">{{ 'category_view'|trans }}</a>
                            {% if is_granted('ROLE_ADMIN') %}

                            <a href="{{ url('categories_edit', {'id': category.category_id}) }}"class="btn btn-warning btn-sm" title="{{ 'category_edit'|trans }}">{{ 'category_edit'|trans }}</a>
                            <a href="{{ url('categories_delete', {'id': category.category_id}) }}" class="btn btn-danger btn-sm" title="{{ 'category_delete'|trans }}">{{ 'category_delete'|trans }}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'categories_not_found'|trans }}.
        </div>
    {% endif %}
{% endblock %}