{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if category %}
                <h2>Posty w kategorii {{ category.category_name }}</h2>
            {% else %}
                <p>Kategoria nie istnieje</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if category_articles %}
                <table class="table">
                    <thead>
                    <th>Tytuł posta</th>
                    <th>Treść posta</th>
                    <th>Akcja</th>
                    </thead>
                {% for category in category_articles %}
                    <tr>
                        <td>{{ category.title }}</td>
                        <td>{{ category.content }}</td>
                        <td><a href="{{ url('articles_view', {'id': category.category_id}) }}" class="btn btn-default">Pokaż</a></td>
                    </tr>
                {% endfor %}
                </table>

            {% else %}
                <p>Posty w danej kategorii nie istnieją</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url('categories_index') }}" class="btn btn-default">Powrót do listy kategorii</a>
{% endblock %}