{% extends 'layout.twig' %}

{% block content %}
    <a href="{{ url('articles_index') }}" class="btn btn-default">{{ 'article_index'|trans }}</a>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if article %}
                <h2>{{ article.title }}</h2>
                <div class="col-md-12">
                    <p class="lead">{{ article.content }}</p>
                </div>
                <div class="col-sm-10">
                    <span>Słowa kluczowe: </span>
                    {% for keyword in keywords %}
                        <strong>{{ keyword.word }}</strong>
                        {%  if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('disconnect_keyword',{'id': keyword.id}) }}"
                               class="btn btn-danger btn-xs">{{ 'keyword_disconnect'|trans }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Post nie istnieje</p>
            {% endif %}
        </div>
    </div>

    <div class="col-md-12 well">
        {% if comments %}
            <h4>Komentarze</h4>
            {% for comment in comments %}
                <div class="thumbnail col-xs-12">
                    <p>{{ comment.comment_content }}</p>
                    {% if (user is defined and comment.user_id == user.id) or is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('comments_edit', {'id': comment.comment_id}) }}" class="btn btn-warning btn-xs"
                           title="{{ 'comment_edit'|trans }}">{{ 'comment_edit'|trans }}</a>
                        <a href="{{ url('comments_delete', {'id': comment.comment_id}) }}" class="btn btn-danger btn-xs"
                           title="{{ 'comment_delete'|trans }}">{{ 'comment_delete'|trans }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Brak komentarzy</p>
        {% endif %}
        {% if article %}
            <a href="{{ url('comments_add', {'article_id': article.article_id}) }}"
               class="btn btn-success"
               title="{{ 'comment_add'|trans }}">{{ 'comment_add'|trans }}</a>
        {% else %}
            <a href="{{ url('comments_add', {'article_id': app.request.get('article_id')}) }}"
               class="btn btn-success"
               title="{{ 'comment_add'|trans }}">{{ 'comment_add'|trans }}</a>
        {% endif %}

    </div>
{% endblock %}
