{% extends 'layout.twig' %}

{% block content %}
    <a href="{{ url('articles_index') }}" class="btn btn-default">Powrót do listy artykułów</a>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            {% if article %}
                <h2>{{ article.title }}</h2>
                <div class="col-md-12">
                    <p class="lead">{{ article.content }}</p>
                </div>
                <div class="col-sm-10">
                    <span>Słowa kluczowe: </span>
                    {% for keyword in keywords %}
                        {{ keyword.word }}
                    {% endfor %}
                </div>
            {% else %}
                <p>Post nie istnieje</p>
            {% endif %}
        </div>
    </div>

    <div class="col-md-12 well">
        {% if comments %}
            <h4>Komentarze</h4>
            {% for comment in comments %}
                <div class="thumbnail col-xs-12">
                    <p>{{ comment.comment_content }}</p>
                    <a href="{{ url('comments_edit', {'id': comment.comment_id}) }}"
                       title="{{ 'Edit article'|trans }}">{{ 'Edytuj komentarz'|trans }}</a>
                    <a href="{{ url('comments_delete', {'id': article.article_id}) }}"
                       title="{{ 'Delete article'|trans }}">{{ 'Usuń komentarz'|trans }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Brak komentarzy</p>
        {% endif %}
        {% if article %}
            <a href="{{ url('comments_add', {'article_id': article.article_id}) }}"
               class="btn btn-primary"
               title="{{ 'Add comment'|trans }}">{{ 'Dodaj komentarz'|trans }}</a>
        {% else %}
            <a href="{{ url('comments_add', {'article_id': app.request.get('article_id')}) }}"
               class="btn btn-primary"
               title="{{ 'Add comment'|trans }}">{{ 'Dodaj komentarz'|trans }}</a>
        {% endif %}

    </div>
{% endblock %}
