{% extends 'layout.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'login'|trans }}
    </h1>
    {{ error }}
    <form action="{{ path('auth_login_check') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" class="btn btn-primary" value="{{ 'login'|trans }}" />
    </form>
{% endblock %}